In [39]:
import pandas as pd
data = pd.read_csv('Euro_2012_stats_TEAM.csv')
data.columns

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

### Question 1

#### How many(%) fouls of each country led to yellow card?

In [4]:
pd.concat([data["Team"], data["Yellow Cards"] / data["Fouls Conceded"] * 100], axis=1).rename(columns={0:"Yellow card(%)"}).sort_values(by="Yellow card(%)",ascending=False)

                   Team  Yellow card(%)
6                Greece       18.750000
7                 Italy       17.977528
8           Netherlands       16.666667
15              Ukraine       16.129032
0               Croatia       14.516129
12               Russia       13.953488
14               Sweden       13.725490
10             Portugal       13.333333
13                Spain       13.253012
9                Poland       12.500000
4                France       11.764706
11  Republic of Ireland       11.764706
3               England       11.111111
2               Denmark       10.526316
1        Czech Republic        9.589041
5               Germany        8.163265

### Question 2

#### Shots of which country were blocked the most?

In [5]:
data["Blocked_shots"] = data["Total shots (inc. Blocked)"] - data["Shots off target"] - data["Shots on target"] - data["Hit Woodwork"]
data.loc[:, ["Team", "Blocked_shots"]].sort_values(by="Blocked_shots", ascending=False)

                   Team  Blocked_shots
7                 Italy             29
13                Spain             25
4                France             18
12               Russia             17
5               Germany             14
10             Portugal             12
3               England             11
8           Netherlands             10
9                Poland             10
11  Republic of Ireland              9
1        Czech Republic              8
0               Croatia              7
2               Denmark              6
6                Greece              5
15              Ukraine              5
14               Sweden              0

### Question 3

#### Which team used the most players?

In [10]:
players_used = data[['Team', 'Players Used']].sort_values(by = "Players Used", ascending = False).reset_index().head(10)
players_used

   index                 Team  Players Used
0      6               Greece            20
1      1       Czech Republic            19
2      4               France            19
3      7                Italy            19
4     13                Spain            18
5     14               Sweden            18
6     15              Ukraine            18
7      5              Germany            17
8      9               Poland            17
9     11  Republic of Ireland            17

### Question 4

#### How many goals were scored and which team scored the most?

In [12]:
total_goals = data['Goals'].sum()
print(f"{total_goals} goals were scored in total")

76 goals were scored in total

In [19]:
max_goals = data["Goals"].idxmax()
print(f'{data.loc[max_goals, "Team"]} Scored the most goals')

Spain Scored the most goals

### Question 5

#### Which teams have best goalkeepers?

In [50]:
best_goalkeepers = data[['Team', 'Saves-to-shots ratio']].loc[data["Clean Sheets"] > 1]
best_goalkeepers.sort_values(['Saves-to-shots ratio'], ascending = False).head(10)

        Team Saves-to-shots ratio
13     Spain                93.8%
3    England                88.1%
7      Italy                74.1%
10  Portugal                71.5%

### Question 6

#### What is % of dribbling out of all touches in each team?

In [37]:
dribbling = data
dribbling.groupby("Team").apply(lambda data: round((data["Dribbles"] / (data["Touches"]) * 100).mean(), 2)).reset_index().rename(columns={0:"Dribbling %"}).sort_values(by="Dribbling %", ascending=False)

                   Team  Dribbling %
1        Czech Republic         2.88
6                Greece         2.63
4                France         2.61
0               Croatia         2.46
3               England         2.46
8           Netherlands         2.27
9                Poland         2.26
10             Portugal         2.16
13                Spain         1.90
12               Russia         1.76
7                 Italy         1.72
2               Denmark         1.71
14               Sweden         1.61
5               Germany         1.60
15              Ukraine         1.37
11  Republic of Ireland         1.26

### Question 7

#### Teams with best Goal Difference?

In [29]:
data["Difference"] = data["Goals"] - data["Goals conceded"]
gd = data[["Team","Difference"]].sort_values(by = "Difference", ascending=False).head(10)
gd

        Team  Difference
13     Spain          11
5    Germany           4
3    England           2
10  Portugal           2
12    Russia           2
0    Croatia           1
14    Sweden           0
2    Denmark          -1
7      Italy          -1
9     Poland          -1

### Question 8

#### What type of goal each team scored more: Penalty or Headed?

In [43]:
data["Pen or Head"] = data.apply(lambda row: "Pen" if row["Penalty goals"] > row["Headed goals"] else "Head", axis="columns")
data[["Team", "Pen or Head"]]

                   Team Pen or Head
0               Croatia        Head
1        Czech Republic        Head
2               Denmark        Head
3               England        Head
4                France        Head
5               Germany        Head
6                Greece         Pen
7                 Italy        Head
8           Netherlands        Head
9                Poland        Head
10             Portugal        Head
11  Republic of Ireland        Head
12               Russia        Head
13                Spain        Head
14               Sweden        Head
15              Ukraine        Head

### Question 9

#### How many passes(%) led to offside?

In [45]:
data["Offside passes %"] = data["Offsides"] / data["Passes"] * 100
data[["Team", "Offside passes %"]].sort_values(by="Offside passes %", ascending=False)

                   Team  Offside passes %
11  Republic of Ireland          1.292597
6                Greece          1.010952
2               Denmark          0.616333
14               Sweden          0.587248
7                 Italy          0.530504
10             Portugal          0.528821
1        Czech Republic          0.511182
13                Spain          0.440120
5               Germany          0.432588
3               England          0.403226
15              Ukraine          0.313480
9                Poland          0.283286
12               Russia          0.249688
4                France          0.242014
8           Netherlands          0.192802
0               Croatia          0.185874

### Question 10

#### How much is the number of corners taken related to goals?

In [67]:
data["Corners_levels"] = data.apply(lambda row: "Low" if row["Corners Taken"] <= data["Corners Taken"].describe().loc["25%"] else "Med-Low" if row["Corners Taken"] <= data["Corners Taken"].describe().loc["50%"] else "Med-High" if row["Corners Taken"] <= data["Corners Taken"].describe().loc["75%"] else "High", axis='columns')
data["Goals_levels"] = data.apply(lambda row: "Low" if row["Goals"] <= data["Goals"].describe().loc["25%"] else "Med-Low" if row["Goals"] <= data["Goals"].describe().loc["50%"] else "Med-High" if row["Goals"] <= data["Goals"].describe().loc["75%"] else "High", axis='columns')
relation_lvl = data.apply(lambda row: row["Corners_levels"] == row["Goals_levels"], axis="columns").sum() / data.Team.count() * 100
print(f"They are related in {round(relation_lvl,2)}% of teams")

They are related in 50.0% of teams